<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Apliación de carrito</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a 
            class="nav-link active" 
            aria-current="page" 
            [routerLink]="['/catalog']"
            >Catálogos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
              [routerLink]="['/cart']"
              [state]="{listItems: listItems, total: total}"
                  role="button">
                  Carrito ({{ listItems.length }})
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
              [routerLink]="['/alumns']"
                  role="button">
                  Alumnos
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>